<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">Be Kind Initiative</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora vero velit, reiciendis nemo expedita delectus harum, provident, dolorum recusandae consequatur blanditiis asperiores, reprehenderit id sapiente. Nulla impedit ullam, doloribus cumque.</p>
      </div>
      <!-- Grid column -->
      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase"><i class="fa fa-home"></i> Our Company</h5>
        <ul class="list-unstyled">
          <li>Surulere, Lagos. Nigeria</li>
        </ul>
        <br>
        <h5 class="text-uppercase"><i class="fa fa-clock-o"></i> Working Hours</h5>
        <ul class="list-unstyled">
          <li>Everyday, Everytime</li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase"><i class="fa fa-phone"></i> Call Us</h5>
        <ul class="list-unstyled">
          <li>+234 806 581 1581</li>
          <li>+234 816 345 6789</li>
        </ul>
        <br>
        <h5 class="text-uppercase"><i class="fa fa-envelope"></i> Email</h5>
        <ul class="list-unstyled">
          <li>+234 806 581 1581</li>
          <li>+234 816 345 6789</li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>