<%- include('./partials/header') %>

    <section id="about-us" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images/about-us.png" alt="about us iluustration" class="about__img">
                </div>
                <div class="col-md-6">
                    <h2 class="about__header">About Us</h2>
                    <p class="about__text">BeKind Initiative is birth with that vision of reaching out to the less priviledged starting from our small communities. In order to reduce poverty across the world before 2030. We also train youth on leadership and volunteering and ensure our community is free of violence because a hungry man is an angry man.</p>
                </div>
            </div>
        </div>
    </section>

<%- include('./partials/footer') %>