<%- include('./partials/header') %>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('images/children.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Help A Kid Today</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum cumque, corporis temporibus aliquid voluptatum. Tempora amet facere repellendus, eaque totam sint nemo cumque eius, sapiente maxime repellat pariatur, molestias numquam.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('images/educate.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Educate A Child</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<%- include('./partials/footer') %>